@import "pomoc_kontakt";
@import "cookies";
@font-face {
  font-family: 'SinkinSans-400Regular';
  src: url("../fonts/SinkinSans-400Regular.ttf");
}

@font-face {
  font-family: 'SinkinSans-700Bold';
  src: url("../fonts/SinkinSans-700Bold.ttf");
}

@font-face {
  font-family: 'SinkinSans-700BoldItalic';
  src: url("../fonts/SinkinSans-700BoldItalic.ttf");
}

@font-face {
  font-family: 'SinkinSans-500Medium';
  src: url("../fonts/SinkinSans-500Medium.ttf");
}

@font-face {
  font-family: 'Gotham-BoldItalic';
  src: url("../fonts/Gotham-BoldItalic.ttf");
}

@font-face {
  font-family: 'SinkinSans-600SemiBold';
  src: url("../fonts/SinkinSans-600SemiBold.ttf");
}

@font-face {
  font-family: 'SinkinSans-300Light';
  src: url("../fonts/SinkinSans-300Light.ttf");
}

$SS-400Regular: 'SinkinSans-400Regular', sans-serif;
$SS-700Bold: 'SinkinSans-700Bold', sans-serif;
$SS-700BoldItalic: 'SinkinSans-700BoldItalic', sans-serif;
$SS-500Medium: 'SinkinSans-500Medium', sans-serif;
$Gotham-BoldItalic: 'Gotham-BoldItalic', sans-serif;
$SS-600SemiBold: 'SinkinSans-600SemiBold', sans-serif;
$SS-300Light: 'SinkinSans-300Light', sans-serif;

$white: #ffffff;
$grey: #f0f0f0;
$shopBackgroundColor: #f1f1f1;
$carContainer: #f8f8f8;
$selectBorder: #dbdbdb;
$carInActiveContainer: #e2e2e2;
$podkreslnik: #d9d9d9;
$greyFooter: #999999;
$wyszukiwarkaKolorSSzP: #929292;
$darkerGrey: #808080;
$opineoCeneo: #666666;
$mobileFooter: #818181;
$price: #333333;
$blackLikeHell: #000000;
$fontMenu: #221d24;
$orangeButton: #ff6300;
$michelinButton: #264f9a;
$hyperlinks: #4b95db;
$bestseller: #6398d3;


header {
  //border-bottom: 1px solid $opineoCeneo;
  box-shadow: 0 0 10px 0 $opineoCeneo;
  margin: 0 auto;
  background-color: $grey;
}


input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
a {
  text-decoration: none;
  color: $blackLikeHell;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row:before,
.row:after {
  content: "";
  display: table;
  clear: both
}

body, html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: $SS-400Regular;
}

.wrap {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
}

.container-fluid {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}


.menuTop {
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 999;
  position: relative;

  .topLeft {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .menuParagraphLeft {
      font-size: 11px;
      font-family: $SS-400Regular;
      letter-spacing: 0.01rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-right: 35px;

      &:last-child {
        margin-right: 0;
      }

      a {
        text-decoration: none;
        color: $fontMenu;

        &:hover {
          text-decoration: underline;
          color: $fontMenu;
        }
      }
    }
  }

  .topRight {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .menuParagraphRight {
      font-size: 11px;
      font-family: $SS-400Regular;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-left: 35px;

      &:first-child {
        margin-left: 0;
      }

      a {
        text-decoration: none;
        color: $fontMenu;

        &:hover {
          text-decoration: underline;
          color: $fontMenu;
        }
      }
    }
  }
}

nav {
  background-color: $white;

  .menuBottom {
    display: block;
    width: 100%;
    margin: 0 auto;

    #top-nav{
      min-height: 50px;

      ul{
        font-size: 18px;
        font-family: $SS-700Bold;
        margin: 0 auto;
        padding: 0;
        list-style: none;
        //box-shadow: 0 0 10px 0 $opineoCeneo;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 90px;
        max-width: 1200px;
        width: 100%;
      }
    }

    #top-nav ul li{
      color: $fontMenu;

    }

    #top-nav ul li a{
      display: block;
      color: $fontMenu;
    }
    #top-nav ul li a:hover{

    }
    #top-nav ul li ul {
      margin-top: 10px;
      display: none;

    }

    #top-nav ul li ul li {
      font-size: 15px;
      font-family: $SS-400Regular;
      padding: 12px 0 12px 6px;
      background: $white;
      width: 220px;
      box-shadow: 0 0 5px 0 $opineoCeneo;
    }

    #top-nav ul li ul li:hover {
      background-color: $orangeButton;
    }

    #top-nav ul li ul li a:hover {
      background-color: $orangeButton;
      color: white;
    }



    /* Dropdown */
    li.dropdown {
      position: relative;
      z-index: 9999;
    }
    ul.dropdown-menu{
      position: absolute;
      //min-width: 120px;
    }
    ul.dropdown-menu li{
      display: block !important;
      white-space: nowrap;
    }

    /* Sub Dropdown */
    ul.dropdown-menu ul.dropdown-menu{
      left: 100%;
      top: 0;
      background-color: #f00 !important;
    }

    /* Display none by Default */
    ul.dropdown-menu{
      display: none;
    }
  }
}


main {
  width: 98%;
  align-items: center;
  @media (min-width: 768px) {
  .carSearchContainer {
    background-color: $carContainer;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    @media(min-width: 550px) {
      background-image: url('../images/michelin_background.png');
      width: 100%;
      background-repeat: no-repeat;
      //background-position: 50%;
      background-size: cover;
      padding-top: 50px !important;
      padding-bottom: 475px !important;
    }

    .carSearchBox {
      background-color: $carContainer;
      display: flex;
      flex-direction: column;
      border: 1px solid black;
      border-radius: 10px;
      max-width: 1030px;
      margin: 0 auto;
      @media(min-width: 550px) {
        -webkit-box-shadow: 0 0 10px 0 rgba(141, 141, 141, 1);
        -moz-box-shadow: 0 0 10px 0 rgba(141, 141, 141, 1);
        box-shadow: 0 0 10px 0 rgba(141, 141, 141, 1);
        border: none;

        .top {
          border-radius: 10px;
          max-width: 1030px;
          max-height: 440px;
          background-color: $carContainer;

          .tabLink {
            font-family: $SS-700Bold;
            font-size: 19px;
            letter-spacing: 0.01rem;
            cursor: pointer;
            width: 50%;
            float: left;
            padding: 15px;
            text-align: center;
            outline: none;
            border: none;
            background-color: $carInActiveContainer;
            color: $blackLikeHell;
          }

          .tabContent {
            box-sizing: border-box;
            display: flex;
            align-items: baseline;
            height: 385px;
            max-width: 1030px;
            //height: 100%;
            width: 100%;


            .selectContainer {
              font-family: $SS-700Bold;
              font-size: 14px;
              display: flex;
              flex-direction: row;
              width: 100%;


              .firstBox {
                max-width: 515px;
                width: 100%;
                max-height: 365px;
                height: 100%;
                margin: 0 auto;
                display: flex;
                flex-direction: column;

                .endContent {
                  max-width: 515px;
                  width: 100%;


                  .smallSelectBox {
                    max-width: 445px;
                    width: 100%;
                    max-height: 80px;
                    height: 100%;
                    margin-top: 45px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    float: right;

                    .selectLabelBox {
                      position: relative;
                      width: 135px;

                      .triangle-bottomleft {
                        margin-left: 85px;
                        position: relative;
                        top: 0;
                        width: 0;
                        height: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-style: solid;
                        border-width:  0 0 45px 50px;
                        border-color: transparent transparent transparent $white;
                        transform: skewX(63deg);
                        -ms-transform: skewX(63deg);
                        -moz-transform: skewX(63deg);
                        -webkit-transform: skew(63deg);
                      }

                      .triangle-bottom {
                        margin: 0 auto;
                        position: relative;
                        top: 0;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 22px 17px 0 17px;
                        border-color: $white transparent transparent transparent;
                      }

                      .triangle-bottomright {
                        margin-right: 50px;
                        position: relative;
                        top: 0;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width:  45px 0 0 50px;
                        border-color: $white transparent transparent transparent;
                        transform: skewX(-63deg);
                        -ms-transform: skewX(-63deg);
                        -moz-transform: skewX(-63deg);
                        -webkit-transform: skewX(-63deg);
                      }

                      .upLabel {
                        display: block;
                        padding-bottom: 6px;
                        padding-left: 12px;
                        font-size: 14px;
                        font-family: $SS-700Bold;
                        color: $wyszukiwarkaKolorSSzP;
                        letter-spacing: 0.03rem;
                        position: relative;
                        z-index: 2;

                      }

                      .smallSelect {
                        max-height: 50px;
                        height: 100%;
                        width: 100%;
                        padding-left: 12px;
                        font-size: 14px;
                        font-family: $SS-700Bold;
                        -moz-appearance: none;
                        -webkit-appearance: none;
                        appearance: none;
                        background-image: url("../images/icon/angle_down_orange.png");
                        background-repeat: no-repeat, repeat;
                        background-position: right .7em top 50%, 0 0;
                        background-size: .65em auto, 100%;
                        border: 1px solid $selectBorder;
                        border-radius: 5px;
                        position: relative;
                        z-index: 2;

                      }
                    }
                  }

                  .tireImageDiv {
                    float: right;
                    margin-right: 22px;

                    .tireImage {
                      margin-top: 30px;
                      max-width: 400px;
                      width: 100%;
                      height: auto;

                    }
                  }
                }
              }

              .secondBox {
                max-width: 515px;
                width: 100%;
                margin: 0 auto;
                display: flex;
                flex-direction: column;

                //margin-left: 70px;

                .smallSelectBox {
                  width: 100%;
                  margin-top: 45px;
                  display: flex;
                  flex-direction: row;
                  justify-content: center;

                  .selectLabelBox {
                    max-width: 365px;
                    width: 100%;

                    label {
                      display: block;
                      padding-bottom: 6px;
                      padding-left: 12px;
                      font-size: 14px;
                      font-family: $SS-700Bold;
                      color: $wyszukiwarkaKolorSSzP;
                      letter-spacing: 0.03rem;
                      position: relative;
                      z-index: 2;
                    }

                    .smallSelectT {
                      height: 50px;
                      width: 100%;
                      padding-left: 12px;
                      font-size: 14px;
                      font-family: $SS-700Bold;
                      -moz-appearance: none;
                      -webkit-appearance: none;
                      appearance: none;
                      background-image: url("../images/icon/angle_down_orange.png");
                      background-repeat: no-repeat, repeat;
                      background-position: right .7em top 50%, 0 0;
                      background-size: .65em auto, 100%;
                      border: 1px solid $selectBorder;
                      border-radius: 5px;
                      position: relative;
                      z-index: 2;
                    }
                  }
                }

                .buttonBox {
                  width: 100%;
                  margin-top: 45px;
                  display: flex;
                  flex-direction: row;
                  justify-content: center;

                  .buttonSearchBox {
                    max-width: 365px;
                    width: 100%;

                    button {
                      width: 100%;
                      height: 50px;
                      background-color: $orangeButton;
                      color: $white;
                      border: none;
                      border-radius: 5px;
                      cursor: pointer;
                      font-size: 19px;
                      font-family: $SS-700Bold;
                      letter-spacing: 0.05rem;
                    }
                  }
                }

                .advancedSearch {
                  width: 100%;
                  margin-top: 40px;
                  display: flex;
                  flex-direction: row;
                  justify-content: center;

                  a {
                    color: $blackLikeHell;
                    font-size: 14px;
                    font-family: $SS-700Bold;
                    text-decoration: none;

                    &:hover {
                      text-decoration: underline;
                      text-decoration-color: $orangeButton;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .bottomPromoIcons {
    display: none;
    @media(min-width: 800px) {
      height: 65px;
      background-color: $white;
      border-radius: 0 0 10px 10px;
      width: 100%;
      display: flex;
      flex-direction: row;

      .promoContainer {
        font-size: 12px;
        font-family: $SS-400Regular;
        text-align: center;
        margin: 10px 0;
        width: 33%;

        .boxPromo {
          display: flex;
          flex-direction: row;
          text-align: center;
          justify-content: center;

          p {
            margin-left: 10px;
          }
        }
      }
    }
  }


  .opinions {
    width: 100%;

    .opinionsText {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h2 {
        font-size: 36px;
        font-family: $SS-700Bold;
        padding: 0 0 20px 0;
      }

      .opinionsContainer {
        position: relative;
        max-width: 1200px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 30px;

        .opinionsContainerColumns {
          display: flex;
          flex-direction: column;

          .firstOpinion {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 380px;
            height: 150px;
            width: 100%;
            //max-height: auto;
            text-align: center;
            line-height: 20px;
            background-color: transparent;
            border: 2px solid $orangeButton;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            z-index: 99;


            &:before {
              content: ' ';
              position: absolute;
              width: 0;
              height: 0;
              left: 40px;
              top: 150px;
              border: 12px solid;
              border-color: $orangeButton transparent transparent $orangeButton;
              transform: skew(-20deg);
              /* Safari */
              -webkit-transform: skew(-20deg);
              /* Firefox */
              -moz-transform: skew(-20deg);
              /* IE */
              -ms-transform: skew(-20deg);
              /* Opera */
              -o-transform: skew(-20deg);
              z-index: 1;
            }

            &:after {
              content: ' ';
              position: absolute;
              width: 0;
              height: 0;
              left: 42px;
              top: 149px;
              border: 11px solid;
              border-color: $white transparent transparent $white;
              transform: skew(-20deg);
              /* Safari */
              -webkit-transform: skew(-20deg);
              /* Firefox */
              -moz-transform: skew(-20deg);
              /* IE */
              -ms-transform: skew(-20deg);
              /* Opera */
              -o-transform: skew(-20deg);
              z-index: 1;
            }
          }

          .secondOpinion {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            max-width: 380px;
            max-height: 150px;
            width: 100%;
            height: 100%;
            text-align: center;
            line-height: 20px;
            background-color: transparent;
            border: 2px solid $orangeButton;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;

            &:before {
              content: ' ';
              position: absolute;
              width: 0;
              height: 0;
              left: 40px;
              top: 150px;
              border: 12px solid;
              border-color: $orangeButton transparent transparent $orangeButton;
              transform: skew(-20deg);
              /* Safari */
              -webkit-transform: skew(-20deg);
              /* Firefox */
              -moz-transform: skew(-20deg);
              /* IE */
              -ms-transform: skew(-20deg);
              /* Opera */
              -o-transform: skew(-20deg);
              z-index: 3;
            }

            &:after {
              content: ' ';
              position: absolute;
              width: 0;
              height: 0;
              left: 42px;
              top: 149px;
              border: 11px solid;
              border-color: $white transparent transparent $white;
              transform: skew(-20deg);
              /* Safari */
              -webkit-transform: skew(-20deg);
              /* Firefox */
              -moz-transform: skew(-20deg);
              /* IE */
              -ms-transform: skew(-20deg);
              /* Opera */
              -o-transform: skew(-20deg);
              z-index: 4;
            }

          }

          .thirdOpinion {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            max-width: 380px;
            max-height: 150px;
            width: 100%;
            height: 100%;
            text-align: center;
            line-height: 20px;
            background-color: transparent;
            border: 2px solid $orangeButton;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;

            .textOpinion {
              padding: 20px;
            }

            &:before {
              content: ' ';
              position: absolute;
              width: 0;
              height: 0;
              left: 40px;
              top: 150px;
              border: 12px solid;
              border-color: $orangeButton transparent transparent $orangeButton;
              transform: skew(-20deg);
              /* Safari */
              -webkit-transform: skew(-20deg);
              /* Firefox */
              -moz-transform: skew(-20deg);
              /* IE */
              -ms-transform: skew(-20deg);
              /* Opera */
              -o-transform: skew(-20deg);
            }

            &:after {
              content: ' ';
              position: absolute;
              width: 0;
              height: 0;
              left: 42px;
              top: 149px;
              border: 11px solid;
              border-color: $white transparent transparent $white;
              transform: skew(-20deg);
              /* Safari */
              -webkit-transform: skew(-20deg);
              /* Firefox */
              -moz-transform: skew(-20deg);
              /* IE */
              -ms-transform: skew(-20deg);
              /* Opera */
              -o-transform: skew(-20deg);
            }
          }

          .usersOpinions {
            padding-top: 20px;
            display: flex;
            flex-direction: row;

            .usersOpinionsImg {
              margin: 0 auto;
              align-items: center;
              display: flex;
              justify-content: center;
            }
          }
        }
      }
    }
  }

  label {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    img {
      display: flex;
      align-items: center;
      align-self: center;
      justify-self: center;
    }
  }
}

  .rating {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .numberRating {
      max-width: 220px;
      width: 100%;
      font-size: 59px;
      font-family: $SS-700Bold;

      span {
        font-family: $SS-300Light;
      }
    }

    .descriptionRating {
      max-width: 635px;
      width: 100%;
      font-size: 21px;
      font-family: $SS-700Bold;

      a {
        color: $darkerGrey;
        text-decoration: none;
      }
    }


    .buttonOpinions {
      max-width: 305px;
      width: 100%;
      max-height: 50px;
      height: 100%;

      button {
        height: 50px;
        width: 100%;
        color: $white;
        background-color: $blackLikeHell;
        border: none;
        border-radius: 5px;
        font-family: $SS-700Bold;
        font-size: 14px;
        letter-spacing: 0.05rem;
        cursor: pointer;
      }
    }
  }

  .shopContainer {
    background-color: $shopBackgroundColor;
    width: 100%;

    .textCards {
      display: flex;
      flex-direction: row;

      .textCardsParagraphs {
        width: 50%;
        font-size: 36px;
        font-family: $SS-700Bold;
      }
    }

    .upperCards {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .specialOfferCard {
        width: 50%;
        display: flex;
        flex-direction: column;

        .bigCard {
          max-height: 445px;
          height: 100%;
          background-color: $white;
          border-radius: 5px;
          max-width: 590px;
          width: 100%;

          .clock {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            background-color: $orangeButton;
            color: $white;
            max-width: 590px;
            width: 100%;
            height: 60px;
            margin-top: 0;
            border-radius: 5px 5px 0 0;
            font-size: 22px;
            font-family: $SS-500Medium;
            margin-bottom: 20px;

            .TickTock {
              margin: 0 5px 0 5px;
              display: flex;
              flex-direction: row;

              .TickTockBackground {
                padding: 2px 5px;
                background-color: $blackLikeHell;
                margin: 0 5px 0 5px;
              }
            }
          }

          .columnAlignment {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            .firstColumn {
              display: flex;
              flex-direction: column;
              max-width: 280px;
              width: 100%;
              height: 100%;

              .content {
                width: 100%;
                display: flex;
                flex-direction: column;


                .tireImage {
                  margin: 20px auto 9px;
                  width: 50%;
                  height: auto;
                }

                .discount {
                  width: 90%;
                  margin: 0 auto;
                  font-family: $SS-400Regular;
                  font-size: 14px;
                  color: $white;

                  span {
                    background-color: $orangeButton;
                    padding: 2px 12px;
                  }
                }

                .tirePrice {
                  width: 90%;
                  margin: 0 auto;
                  font-size: 22px;
                  font-family: $SS-700Bold;
                  color: $orangeButton;

                  .lowerSpan {
                    font-size: 18px;
                  }

                  .strikeSpan {
                    text-decoration: line-through;
                    font-size: 14px;
                    font-family: $SS-400Regular;
                  }

                  .strikeSpanAO {
                    font-size: 14px;
                    font-family: $SS-400Regular;
                    text-decoration: line-through;
                    color: $price;
                  }
                }

                .tireDescription {
                  font-size: 14px;
                  font-family: $SS-400Regular;
                  margin: 0 auto 15px;
                  width: 90%;
                  line-height: 20px;

                }
              }

              .footer {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 90%;
                border-top: 1px solid $podkreslnik;
                margin: 15px auto 0;

                a {
                  font-size: 14px;
                  font-family: $SS-400Regular;
                  padding: 10px 0;
                  text-decoration: none;
                  color: $blackLikeHell;

                  &:hover {
                    text-decoration: underline;
                    text-decoration-color: $orangeButton;
                  }

                  span {
                    color: $orangeButton;
                  }
                }

              }
            }

            .secondColumn {
              display: flex;
              flex-direction: column;
              max-width: 280px;
              width: 100%;
              height: 100%;

              .content {
                width: 100%;
                display: flex;
                flex-direction: column;

                .tireImage {
                  margin: 0 auto 5px;
                  width: 50%;
                  height: auto;
                }

                .discount {
                  width: 90%;
                  margin: 0 auto;
                  font-family: $SS-400Regular;
                  font-size: 14px;
                  color: $white;

                  span {
                    background-color: $orangeButton;
                    padding: 2px 12px;
                  }
                }

                .tirePrice {
                  width: 90%;
                  margin: 0 auto;
                  font-size: 22px;
                  font-family: $SS-700Bold;
                  color: $orangeButton;

                  .lowerSpan {
                    font-size: 18px;
                  }

                  .strikeSpan {
                    text-decoration: line-through;
                    font-size: 14px;
                    font-family: $SS-400Regular;
                  }

                  .strikeSpanAO {
                    font-size: 14px;
                    font-family: $SS-400Regular;
                    text-decoration: line-through;
                    color: $price;
                  }
                }

                .tireDescription {
                  font-size: 14px;
                  font-family: $SS-400Regular;
                  margin: 0 auto 15px;
                  width: 90%;
                  line-height: 20px;

                }
              }

              .footer {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 90%;
                border-top: 1px solid $podkreslnik;
                margin: 15px auto 0;

                a {
                  font-size: 14px;
                  font-family: $SS-400Regular;
                  padding: 10px 0;
                  text-decoration: none;
                  color: $blackLikeHell;

                  &:hover {
                    text-decoration: underline;
                    text-decoration-color: $orangeButton;
                  }

                  span {
                    color: $orangeButton;
                  }
                }

              }
            }
          }
        }
      }

      .normalCard {
        width: 25%;
        display: flex;
        flex-direction: column;

        .smallCard {
          max-width: 280px;
          width: 100%;
          height: 445px;
          background-color: $white;
          border-radius: 5px;
          margin: 0 10px;

          .content {
            width: 100%;
            display: flex;
            flex-direction: column;

            .tireImage {
              margin: 35px auto;
              width: 60%;
              height: auto;
            }

            .tirePrice {
              width: 90%;
              margin: 5px auto;
              font-size: 22px;
              font-family: $SS-700Bold;
              color: $price;

              .lowerSpan {
                font-size: 18px;
              }

              .strikeSpan {
                text-decoration: line-through;
                font-size: 14px;
                font-family: $SS-400Regular;
              }

              .strikeSpanAO {
                font-size: 14px;
                font-family: $SS-400Regular;
                text-decoration: line-through;
                color: $price;
              }
            }

            .tireDescription {
              font-size: 14px;
              font-family: $SS-400Regular;
              margin: 0 auto 15px;
              padding-bottom: 40px;
              width: 90%;
              line-height: 20px;
            }
          }

          .footer {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 90%;
            border-top: 1px solid $podkreslnik;
            margin: 0 auto;

            a {
              font-size: 14px;
              font-family: $SS-400Regular;
              padding: 10px 0;
              text-decoration: none;
              color: $blackLikeHell;

              &:hover {
                text-decoration: underline;
                text-decoration-color: $orangeButton;
              }

              span {
                color: $orangeButton;
              }
            }
          }
        }
      }
    }

    .textLower {
      display: flex;
      flex-direction: row;

      .textLowerContent {
        font-size: 36px;
        font-family: $SS-700Bold;
        color: $blackLikeHell;
      }
    }

    .lowerCards {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      .containerS {
        max-width: 280px;
        width: 100%;
        height: 100%;
        background-color: $white;
        border-radius: 5px;
        margin: 0 10px;

        .header {
          border-radius: 5px 0 0 0;

          .bestSeller {
            margin-top: 4px;
            color: $white;
            font-size: 12px;
            font-family: $SS-400Regular;
            border-radius: 5px 0 0 0;

            span {
              padding: 4px 10px;
              border-radius: 5px 0 0 0;
              background-color: $bestseller;
            }
          }
        }

        .content {
          width: 100%;
          display: flex;
          flex-direction: column;

          .tireImage {
            margin: 35px auto;
            width: 60%;
            height: auto;
          }

          .tirePrice {
            width: 90%;
            margin: 0 auto;
            font-size: 22px;
            font-family: $SS-700Bold;
            color: $price;

            .lowerSpan {
              font-size: 18px;
            }

            .strikeSpan {
              text-decoration: line-through;
              font-size: 14px;
              font-family: $SS-400Regular;
            }

            .strikeSpanAO {
              font-size: 14px;
              font-family: $SS-400Regular;
              text-decoration: line-through;
              color: $price;
            }
          }

          .tireDescription {
            font-size: 14px;
            font-family: $SS-400Regular;
            margin: 0 auto 15px;
            padding-bottom: 15px;
            width: 90%;
            line-height: 20px;

          }

        }

        .footer {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 90%;
          border-top: 1px solid $podkreslnik;
          margin: 0 auto;

          a {
            font-size: 14px;
            font-family: $SS-400Regular;
            padding: 10px 0;
            text-decoration: none;
            color: $blackLikeHell;

            &:hover {
              text-decoration: underline;
              text-decoration-color: $orangeButton;
            }

            span {
              color: $orangeButton;
            }
          }
        }
      }

      .containerP {
        max-width: 280px;
        width: 100%;
        height: 100%;
        background-color: $white;
        border-radius: 5px;
        margin: 0 10px;

        .header {
          border-radius: 5px 0 0 0;

          .bestSeller {
            margin-top: 4px;
            color: $white;
            font-size: 12px;
            font-family: $SS-400Regular;
            border-radius: 5px 0 0 0;

            span {
              padding: 4px 10px;
              border-radius: 5px 0 0 0;
              background-color: $bestseller;
            }
          }
        }

        .content {
          width: 100%;
          display: flex;
          flex-direction: column;

          .tireImage {
            margin: 35px auto;
            width: 60%;
            height: auto;
          }

          .tirePrice {
            width: 90%;
            margin: 0 auto;
            font-size: 22px;
            font-family: $SS-700Bold;
            color: $orangeButton;

            .lowerSpan {
              font-size: 18px;
            }

            .strikeSpan {
              text-decoration: line-through;
              font-size: 14px;
              font-family: $SS-400Regular;
            }

            .strikeSpanAO {
              font-size: 14px;
              font-family: $SS-400Regular;
              text-decoration: line-through;
              color: $price;
            }
          }

          .tireDescription {
            font-size: 14px;
            font-family: $SS-400Regular;
            margin: 0 auto 15px;
            padding-bottom: 15px;
            width: 90%;
            line-height: 20px;

          }

        }

        .footer {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 90%;
          border-top: 1px solid $podkreslnik;
          margin: 0 auto;

          a {
            font-size: 14px;
            font-family: $SS-400Regular;
            padding: 10px 0;
            text-decoration: none;
            color: $blackLikeHell;

            &:hover {
              text-decoration: underline;
              text-decoration-color: $orangeButton;
            }

            span {
              color: $orangeButton;
            }
          }
        }
      }
    }

    .firestoneBaner {
      max-width: 1200px;
      width: 100%;
      max-height: 150px;
      height: 100%;
      margin: 45px 0;
    }
  }

  .headerFirms {
    width: 100%;
    background-color: $white;
    margin-bottom: 30px;

    .textFirms {
      line-height: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      h2 {
        font-size: 36px;
        font-family: $SS-700Bold;
        padding-top: 25px;
      }

      p {
        font-size: 14px;
        font-family: $SS-400Regular;
        line-height: 1px;

        a {

          span {

          }
        }

        a:link {
          text-decoration: underline;
          text-decoration-color: $podkreslnik;
          color: $blackLikeHell;

          span {
            color: $orangeButton;
          }
        }

        a:hover {
          text-decoration: underline;
          text-decoration-color: $podkreslnik;
          color: $blackLikeHell;

          span {
            color: $orangeButton;
          }
        }

        a:visited {
          text-decoration: underline;
          text-decoration-color: $podkreslnik;
          color: $blackLikeHell;

          span {
            color: $orangeButton;
          }
        }

        a:active {
          text-decoration: underline;
          text-decoration-color: $podkreslnik;
          color: $blackLikeHell;

          span {
            color: $orangeButton;
          }
        }

      }
    }

    .logoFirms {
      margin-top: 60px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      img {
        display: flex;
        justify-content: space-between;
        padding: 10px;
      }

      .growImage {
        transition: all .2s ease-in-out;
        cursor: pointer;
      }

      .growImage:hover {
        transform: scale(1.1);
      }
    }
  }

  .adviceContainer {
    background-color: $shopBackgroundColor;
    width: 100%;
    padding-bottom: 50px;

    .expertsContainer {
      max-width: 1200px;
      margin: 0 auto;

      .expertsText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;

        .pHeader {
          font-size: 36px;
          font-family: $SS-700Bold;
          margin: 0;
          padding-top: 25px;
        }

        p {
          font-size: 14px;
          font-family: $SS-400Regular;
          margin: 0;

          a {
            text-decoration: underline;
            color: $blackLikeHell;
            text-decoration-color: $podkreslnik;
          }

          span {
            color: $orangeButton;
          }
        }
      }

      .parent {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 20px;
        margin-top: 20px;
      }

      .div1 {
        grid-area: 1 / 1 / 2 / 2;
        max-height: 780px;

        .cardBig {
          background-color: $white;
          width: 100%;
          border-radius: 10px;

          .imagePlacement {
            position: relative;
            text-align: center;
            color: $white;

            img {
              width: 100%;
              height: auto;
              border-radius: 10px 10px 0 0;
            }

            .topPlacement {
              display: none;
              @media(min-width: 750px) {
                display: block;
                position: absolute;
                top: 9px;
                left: 21px;
                font-size: 14px;
                font-family: $SS-400Regular;
                background-color: $blackLikeHell;
                padding: 0 10px;
              }
            }

            .bottomPlacement {
              display: none;
              @media(min-width: 750px) {
                display: block;
                position: absolute;
                bottom: 21px;
                left: 21px;
                font-size: 24px;
                font-family: $SS-400Regular;
                text-align: left;

                p {
                  line-height: 10px;

                  span {
                    padding: 0 10px;
                    background-color: $blackLikeHell;
                  }
                }
              }
            }
          }

          .textArticle {
            font-size: 14px;
            font-family: $SS-400Regular;
            letter-spacing: 0.01rem;
            max-height: 300px;
            overflow: hidden;
            padding: 0 25px;
            text-decoration: none;
            color: $blackLikeHell;
          }

          .linkArticle {
            width: 90%;
            margin: 0 auto;
            border-top: 1px solid $grey;
            padding: 15px 0;
            font-size: 14px;
            font-family: $SS-400Regular;
            letter-spacing: 0.01rem;
            text-align: center;

            a {
              text-decoration: none;
              color: $blackLikeHell;

              &:hover {
                text-decoration: underline;
                text-decoration-color: $orangeButton;
              }

              span {
                color: $orangeButton;
              }
            }
          }
        }

      }

      .div2 {
        grid-area: 1 / 2 / 2 / 3;
        max-height: 780px;

        .card {
          max-height: 370px;
          width: 100%;
          border-radius: 10px;
          background-color: $white;
          margin-bottom: 25px;

          &:last-child {
            margin-bottom: 0;
          }

          img {
            width: 100%;
            height: auto;
            border-radius: 10px 10px 0 0;
          }

          .upperTextG {
            font-size: 14px;
            font-family: $SS-400Regular;
            padding: 0 20px;
            line-height: 15px;
            text-decoration: none;
            color: $blackLikeHell;
          }

          .bottomTextG {
            width: 90%;
            margin: 0 auto;
            border-top: 1px solid $grey;
            padding: 15px 0;
            font-size: 14px;
            font-family: $SS-400Regular;
            letter-spacing: 0.01rem;
            text-align: center;

            a {
              text-decoration: none;
              color: $blackLikeHell;

              &:hover {
                text-decoration: underline;
                text-decoration-color: $orangeButton;
              }

              span {
                color: $orangeButton;
              }
            }
          }
        }
      }

      .div3 {
        grid-area: 1 / 3 / 2 / 4;
        max-height: 780px;

        .card {
          max-height: 370px;
          width: 100%;
          border-radius: 10px;
          background-color: $white;
          margin-bottom: 25px;

          &:last-child {
            margin-bottom: 0;
          }

          img {
            width: 100%;
            height: auto;
            border-radius: 10px 10px 0 0;
          }

          .upperTextG {
            font-size: 14px;
            font-family: $SS-400Regular;
            padding: 0 20px;
            line-height: 15px;
            text-decoration: none;
            color: $blackLikeHell;
          }

          .bottomTextG {
            width: 90%;
            margin: 0 auto;
            border-top: 1px solid $grey;
            padding: 15px 0;
            font-size: 14px;
            font-family: $SS-400Regular;
            letter-spacing: 0.01rem;
            text-align: center;

            a {
              text-decoration: none;
              color: $blackLikeHell;

              &:hover {
                text-decoration: underline;
                text-decoration-color: $orangeButton;
              }

              span {
                color: $orangeButton;
              }
            }
          }
        }
      }
    }
  }

  .searchFormsTab {
    background-color: $white;
    width: 100%;
    margin: 30px 0 15px 0;

    .searchSection {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .parent {
        display: grid;
        grid-template-columns: 160px 1fr 1fr 1fr 140px 1fr 140px 1fr 140px;
        grid-template-rows: 20px 70px 20px 100px 20px 100px;
        grid-column-gap: 0;
        grid-row-gap: 40px;
        margin-bottom: 30px;

        .div1 {
          grid-area: 1 / 1 / 2 / 4;

          p {
            font-size: 14px;
            font-family: $SS-700Bold;
            color: $orangeButton;
          }
        }

        .div2 {
          grid-area: 2 / 1 / 3 / 2;

          p {
            font-size: 12px;
            font-family: $SS-400Regular;
            color: $blackLikeHell;
            margin: 0;
            padding-bottom: 8px;

            a{
              text-decoration: none;
              color: $blackLikeHell;
              &:hover {
                text-decoration: underline;
                text-decoration-color: $orangeButton;
                color: $blackLikeHell;
              }
            }

            span {
              color: $orangeButton;
            }
          }
        }

        .div3 {
          grid-area: 2 / 3 / 3 / 4;

          p {
            font-size: 12px;
            font-family: $SS-400Regular;
            color: $blackLikeHell;
            margin: 0;
            padding-bottom: 8px;

            a{
              text-decoration: none;
              color: $blackLikeHell;
              &:hover {
                text-decoration: underline;
                text-decoration-color: $orangeButton;
                color: $blackLikeHell;
              }
            }

            span {
              color: $orangeButton;
            }
          }
        }

        .div4 {
          grid-area: 1 / 5 / 2 / 7;

          p {
            font-size: 14px;
            font-family: $SS-700Bold;
            color: $orangeButton;
          }
        }

        .div5 {
          grid-area: 2 / 5 / 3 / 6;

          p {
            font-size: 12px;
            font-family: $SS-400Regular;
            color: $blackLikeHell;
            margin: 0;
            padding-bottom: 8px;

            a{
              text-decoration: none;
              color: $blackLikeHell;
              &:hover {
                text-decoration: underline;
                text-decoration-color: $orangeButton;
                color: $blackLikeHell;
              }
            }

            span {
              color: $orangeButton;
            }
          }
        }

        .div6 {
          grid-area: 1 / 7 / 2 / 9;

          p {
            font-size: 14px;
            font-family: $SS-700Bold;
            color: $orangeButton;
          }
        }

        .div7 {
          grid-area: 2 / 7 / 3 / 8;

          p {
            font-size: 12px;
            font-family: $SS-400Regular;
            color: $blackLikeHell;
            margin: 0;
            padding-bottom: 8px;

            a{
              text-decoration: none;
              color: $blackLikeHell;
              &:hover {
                text-decoration: underline;
                text-decoration-color: $orangeButton;
                color: $blackLikeHell;
              }
            }

            span {
              color: $orangeButton;
            }
          }
        }

        .div8 {
          grid-area: 2 / 9 / 3 / 10;

          p {
            font-size: 12px;
            font-family: $SS-400Regular;
            color: $blackLikeHell;
            margin: 0;
            padding-bottom: 8px;

            a{
              text-decoration: none;
              color: $blackLikeHell;
              &:hover {
                text-decoration: underline;
                text-decoration-color: $orangeButton;
                color: $blackLikeHell;
              }
            }

            span {
              color: $orangeButton;
            }
          }
        }

        .div9 {
          grid-area: 3 / 1 / 4 / 4;

          p {
            font-size: 14px;
            font-family: $SS-700Bold;
            color: $orangeButton;
          }
        }

        .div10 {
          grid-area: 4 / 1 / 5 / 2;

          p {
            font-size: 12px;
            font-family: $SS-400Regular;
            color: $blackLikeHell;
            margin: 0;
            padding-bottom: 8px;

            a{
              text-decoration: none;
              color: $blackLikeHell;
              &:hover {
                text-decoration: underline;
                text-decoration-color: $orangeButton;
                color: $blackLikeHell;
              }
            }

            span {
              color: $orangeButton;
            }
          }
        }

        .div11 {
          grid-area: 4 / 3 / 5 / 4;

          p {
            font-size: 12px;
            font-family: $SS-400Regular;
            color: $blackLikeHell;
            margin: 0;
            padding-bottom: 8px;

            a{
              text-decoration: none;
              color: $blackLikeHell;
              &:hover {
                text-decoration: underline;
                text-decoration-color: $orangeButton;
                color: $blackLikeHell;
              }
            }

            span {
              color: $orangeButton;
            }
          }
        }

        .div12 {
          grid-area: 4 / 5 / 5 / 6;

          p {
            font-size: 12px;
            font-family: $SS-400Regular;
            color: $blackLikeHell;
            margin: 0;
            padding-bottom: 8px;

            a{
              text-decoration: none;
              color: $blackLikeHell;
              &:hover {
                text-decoration: underline;
                text-decoration-color: $orangeButton;
                color: $blackLikeHell;
              }
            }

            span {
              color: $orangeButton;
            }
          }
        }

        .div13 {
          grid-area: 4 / 7 / 5 / 8;

          p {
            font-size: 12px;
            font-family: $SS-400Regular;
            color: $blackLikeHell;
            margin: 0;
            padding-bottom: 8px;

            a{
              text-decoration: none;
              color: $blackLikeHell;
              &:hover {
                text-decoration: underline;
                text-decoration-color: $orangeButton;
                color: $blackLikeHell;
              }
            }

            span {
              color: $orangeButton;
            }
          }
        }

        .div14 {
          grid-area: 4 / 9 / 5 / 10;

          p {
            font-size: 12px;
            font-family: $SS-400Regular;
            color: $blackLikeHell;
            margin: 0;
            padding-bottom: 8px;

            a{
              text-decoration: none;
              color: $blackLikeHell;
              &:hover {
                text-decoration: underline;
                text-decoration-color: $orangeButton;
                color: $blackLikeHell;
              }
            }

            span {
              color: $orangeButton;
            }
          }
        }

        .div15 {
          grid-area: 5 / 1 / 6 / 4;

          p {
            font-size: 14px;
            font-family: $SS-700Bold;
            color: $orangeButton;
          }
        }

        .div16 {
          grid-area: 6 / 1 / 7 / 2;

          p {
            font-size: 12px;
            font-family: $SS-400Regular;
            color: $blackLikeHell;
            margin: 0;
            padding-bottom: 8px;

            a{
              text-decoration: none;
              color: $blackLikeHell;
              &:hover {
                text-decoration: underline;
                text-decoration-color: $orangeButton;
                color: $blackLikeHell;
              }
            }

            span {
              color: $orangeButton;
            }
          }
        }

        .div17 {
          grid-area: 6 / 3 / 7 / 4;

          p {
            font-size: 12px;
            font-family: $SS-400Regular;
            color: $blackLikeHell;
            margin: 0;
            padding-bottom: 8px;

            a{
              text-decoration: none;
              color: $blackLikeHell;
              &:hover {
                text-decoration: underline;
                text-decoration-color: $orangeButton;
                color: $blackLikeHell;
              }
            }

            span {
              color: $orangeButton;
            }
          }
        }

        .div18 {
          grid-area: 6 / 5 / 7 / 6;

          p {
            font-size: 12px;
            font-family: $SS-400Regular;
            color: $blackLikeHell;
            margin: 0;
            padding-bottom: 8px;

            a{
              text-decoration: none;
              color: $blackLikeHell;
              &:hover {
                text-decoration: underline;
                text-decoration-color: $orangeButton;
                color: $blackLikeHell;
              }
            }

            span {
              color: $orangeButton;
            }
          }
        }

        .div19 {
          grid-area: 6 / 7 / 7 / 8;

          p {
            font-size: 12px;
            font-family: $SS-400Regular;
            color: $blackLikeHell;
            margin: 0;
            padding-bottom: 8px;

            a{
              text-decoration: none;
              color: $blackLikeHell;
              &:hover {
                text-decoration: underline;
                text-decoration-color: $orangeButton;
                color: $blackLikeHell;
              }
            }

            span {
              color: $orangeButton;
            }
          }
        }

        .div20 {
          grid-area: 6 / 9 / 7 / 10;

          p {
            font-size: 12px;
            font-family: $SS-400Regular;
            color: $blackLikeHell;
            margin: 0;
            padding-bottom: 8px;

            a{
              text-decoration: none;
              color: $blackLikeHell;
              &:hover {
                text-decoration: underline;
                text-decoration-color: $orangeButton;
                color: $blackLikeHell;
              }
            }

            span {
              color: $orangeButton;
            }
          }
        }
      }

      .informationText {
        font-size: 10px;
        font-family: $SS-400Regular;
        margin-top: 10px;
        line-height: 14px;
        letter-spacing: 0.01rem;

        a {
          text-decoration: none;
          color: $hyperlinks;
        }
      }
    }
  }

  .footerContainer {
    margin: 0 auto 200px;
    background-color: $grey;
    border-radius: 10px;
    width: 100%;
    p {
      margin: 0;
    }

    .footerContent {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 40px 30px 40px 30px;

      .div1 {
        display: flex;
        flex-direction: column;
        margin-right: 10%;

        .tireKingLogoFooter {
          margin-bottom: 30px;
        }

        .infolinia {
          margin-bottom: 40px;

          .firstParagraph {
            font-size: 14px;
            font-family: $SS-700Bold;
            color: $orangeButton;
          }

          .secondParagraph {
            font-size: 18px;
            font-family: $SS-700Bold;
            color: $blackLikeHell;
            margin-bottom: 2%;
          }
        }

        .kontakt {
          margin-bottom: 25px;
          p {
            font-size: 12px;
            font-family: $SS-400Regular;
            margin-bottom: 1%;
          }
        }

        .regulamin {
          .greyContent {
            font-size: 10px;
            font-family: $SS-400Regular;
            color: $mobileFooter;

            a {
              text-decoration: underline;
              text-decoration-color: $mobileFooter;
            }
          }
        }
      }

      .div2 {
        display: flex;
        flex-direction: column;

        .firstParagraph {
          font-size: 14px;
          font-family: $SS-700Bold;
          color: $orangeButton;
          margin: 10px 0 35px;
        }

        p {
          font-size: 12px;
          font-family: $SS-400Regular;
          color: $blackLikeHell;
          margin-bottom: 8px;
          a {
            text-decoration: none;
            &:hover {
              text-decoration: underline;
              text-decoration-color: $orangeButton;
            }
          }
          span {
            color: $orangeButton;
          }
        }
      }

      .div3 {
        display: flex;
        flex-direction: column;

        .firstParagraph {
          font-size: 14px;
          font-family: $SS-700Bold;
          color: $orangeButton;
          margin: 10px 0 35px;
        }

        p {
          font-size: 12px;
          font-family: $SS-400Regular;
          color: $blackLikeHell;
          margin-bottom: 8px;
          a {
            text-decoration: none;
            &:hover {
              text-decoration: underline;
              text-decoration-color: $orangeButton;
            }
          }
          span {
            color: $orangeButton;
          }
        }
      }

      .div4 {
        display: flex;
        flex-direction: column;
        margin-right: 20px;

        .firstParagraph {
          font-size: 14px;
          font-family: $SS-700Bold;
          color: $orangeButton;
          margin: 10px 0 35px;
        }

        p {
          font-size: 12px;
          font-family: $SS-400Regular;
          color: $blackLikeHell;
          margin-bottom: 8px;
          a {
            text-decoration: none;
            &:hover {
              text-decoration: underline;
              text-decoration-color: $orangeButton;
            }
          }
          span {
            color: $orangeButton;
          }
        }

        .icons {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-top: 70px;
        }
      }
    }
  }

}












